# Copyright 2015, alex at staticlibs.net
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# crosstool-ng-1.20.0

CT_LIBC="eglibc"
CT_LIBC_VERSION="2.13"
CT_LIBC_eglibc=y
CT_LIBC_EGLIBC_V_2_13=y
CT_CC_VERSION="linaro-4.7-2014.01"
CT_CC_V_linaro_4_7=y
CT_LOCAL_TARBALLS_DIR="${HOME}/src"
CT_SAVE_TARBALLS=y
CT_LOG_EXTRA=y
# CT_ARCH_ARCH="armv7ve"
CT_ARCH_ARCH=""
CT_ARCH_CPU="cortex-a7"
CT_ARCH_TUNE="cortex-a7"
CT_ARCH_FPU="vfpv4-d16"
CT_ARCH_FLOAT_HW=y
CT_ARCH_arm=y
# to enable hf postfix see link
# https://www.raspberrypi.org/forums/viewtopic.php?t=72266
# also this property must be re-added manually to generated .config
CT_ARCH_ARM_TUPLE_USE_EABIHF=y
CT_TARGET_VENDOR="cortexa7"
CT_KERNEL_linux=y
CT_KERNEL_V_3_12=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
# CT_LIBC_glibc=y
CT_LIBC_LOCALES=y
CT_LIBC_GLIBC_KERNEL_VERSION_CHOSEN=y
CT_LIBC_GLIBC_MIN_KERNEL_VERSION="3.2.27"
CT_CC_GCC_SHOW_LINARO=y
CT_CC_LANG_CXX=y
# CT_CC_STATIC_LIBSTDCXX is not set
CT_CC_GCC_DISABLE_PCH=y
CT_CC_GCC_BUILD_ID=y
CT_CC_GCC_LNK_HASH_STYLE_BOTH=y
CT_DEBUG_gdb=y
# CT_GDB_CROSS_PYTHON is not set
